-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_raport
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `db_raport`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `db_raport` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `db_raport`;

--
-- Table structure for table `tb_admin`
--

DROP TABLE IF EXISTS `tb_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_admin` (
  `id_admin` varchar(10) NOT NULL,
  `id_user` int(11) NOT NULL,
  PRIMARY KEY (`id_admin`),
  KEY `fk_user_admin` (`id_user`),
  CONSTRAINT `fk_user_admin` FOREIGN KEY (`id_user`) REFERENCES `tb_user` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_admin`
--

LOCK TABLES `tb_admin` WRITE;
/*!40000 ALTER TABLE `tb_admin` DISABLE KEYS */;
INSERT INTO `tb_admin` VALUES ('ADM001',1);
/*!40000 ALTER TABLE `tb_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_guru`
--

DROP TABLE IF EXISTS `tb_guru`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_guru` (
  `id_guru` varchar(20) NOT NULL,
  `id_user` int(11) NOT NULL,
  `nama_guru` varchar(100) NOT NULL,
  PRIMARY KEY (`id_guru`),
  KEY `fk_user_guru` (`id_user`),
  CONSTRAINT `fk_user_guru` FOREIGN KEY (`id_user`) REFERENCES `tb_user` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_guru`
--

LOCK TABLES `tb_guru` WRITE;
/*!40000 ALTER TABLE `tb_guru` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_guru` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_kelas`
--

DROP TABLE IF EXISTS `tb_kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_kelas` (
  `id_kelas` int(11) NOT NULL AUTO_INCREMENT,
  `nama_kelas` varchar(20) NOT NULL,
  `tingkat` varchar(5) NOT NULL,
  `id_guru_walikelas` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_kelas`),
  UNIQUE KEY `nama_kelas` (`nama_kelas`),
  KEY `fk_kelas_walikelas` (`id_guru_walikelas`),
  CONSTRAINT `fk_kelas_walikelas` FOREIGN KEY (`id_guru_walikelas`) REFERENCES `tb_guru` (`id_guru`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_kelas`
--

LOCK TABLES `tb_kelas` WRITE;
/*!40000 ALTER TABLE `tb_kelas` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_mapel_backup_20260928`
--

DROP TABLE IF EXISTS `tb_mapel_backup_20260928`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_mapel_backup_20260928` (
  `id_mapel` varchar(20) NOT NULL,
  `nama_mapel` varchar(100) NOT NULL,
  `kategori` varchar(20) NOT NULL DEFAULT 'Umum',
  `tingkat` varchar(10) NOT NULL DEFAULT 'Semua',
  `urutan` int(11) NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_mapel_backup_20260928`
--

LOCK TABLES `tb_mapel_backup_20260928` WRITE;
/*!40000 ALTER TABLE `tb_mapel_backup_20260928` DISABLE KEYS */;
INSERT INTO `tb_mapel_backup_20260928` VALUES ('BIND','Bahasa Indonesia','Umum','Semua',2),('BING','Bahasa Inggris','Umum','Semua',4),('FIS','Fisika','Umum','10',5),('FIS-XI','Fisika','Pilihan','11',5),('MTK','Matematika','Umum','Semua',3),('PKN','Pendidikan Pancasila dan Kewarganegaraan','Umum','Semua',1);
/*!40000 ALTER TABLE `tb_mapel_backup_20260928` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_mapel_mapping`
--

DROP TABLE IF EXISTS `tb_mapel_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_mapel_mapping` (
  `id_mapel` varchar(20) NOT NULL,
  `jenjang` varchar(3) NOT NULL COMMENT '10 / 11 / 12',
  `kategori` varchar(20) NOT NULL DEFAULT 'Umum' COMMENT 'Umum / Pilihan',
  `urutan` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_mapel`,`jenjang`),
  KEY `fk_mapping_referensi` (`id_mapel`),
  CONSTRAINT `fk_mapping_referensi` FOREIGN KEY (`id_mapel`) REFERENCES `tb_mapel_referensi` (`id_mapel`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_mapel_mapping`
--

LOCK TABLES `tb_mapel_mapping` WRITE;
/*!40000 ALTER TABLE `tb_mapel_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_mapel_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_mapel_referensi`
--

DROP TABLE IF EXISTS `tb_mapel_referensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_mapel_referensi` (
  `id_mapel` varchar(20) NOT NULL,
  `nama_mapel` varchar(100) NOT NULL,
  `sistem` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1 = mapel sistem, tidak boleh dihapus',
  PRIMARY KEY (`id_mapel`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_mapel_referensi`
--

LOCK TABLES `tb_mapel_referensi` WRITE;
/*!40000 ALTER TABLE `tb_mapel_referensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_mapel_referensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_nilai_sts`
--

DROP TABLE IF EXISTS `tb_nilai_sts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_nilai_sts` (
  `id_nilai` int(11) NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) NOT NULL,
  `id_pengampu` int(11) NOT NULL,
  `sumatif_1` decimal(5,2) DEFAULT NULL,
  `sumatif_2` decimal(5,2) DEFAULT NULL,
  `sumatif_3` decimal(5,2) DEFAULT NULL,
  `rata_sumatif` decimal(5,2) DEFAULT NULL,
  `nilai_sts` decimal(5,2) DEFAULT NULL,
  `nilai_akhir` decimal(5,2) DEFAULT NULL,
  `status_kelulusan` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id_nilai`),
  UNIQUE KEY `uk_siswa_pengampu` (`nis`,`id_pengampu`),
  KEY `fk_nilai_siswa` (`nis`),
  KEY `fk_nilai_pengampu` (`id_pengampu`),
  CONSTRAINT `fk_nilai_pengampu` FOREIGN KEY (`id_pengampu`) REFERENCES `tb_pengampu` (`id_pengampu`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_nilai_siswa` FOREIGN KEY (`nis`) REFERENCES `tb_siswa` (`nis`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_nilai_sts`
--

LOCK TABLES `tb_nilai_sts` WRITE;
/*!40000 ALTER TABLE `tb_nilai_sts` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_nilai_sts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_pengampu`
--

DROP TABLE IF EXISTS `tb_pengampu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_pengampu` (
  `id_pengampu` int(11) NOT NULL AUTO_INCREMENT,
  `id_guru` varchar(20) NOT NULL,
  `id_mapel` varchar(20) NOT NULL,
  `id_kelas` int(11) NOT NULL,
  PRIMARY KEY (`id_pengampu`),
  UNIQUE KEY `uk_guru_mapel_kelas` (`id_guru`,`id_mapel`,`id_kelas`),
  KEY `fk_pengampu_guru` (`id_guru`),
  KEY `fk_pengampu_mapel` (`id_mapel`),
  KEY `fk_pengampu_kelas` (`id_kelas`),
  CONSTRAINT `fk_pengampu_guru` FOREIGN KEY (`id_guru`) REFERENCES `tb_guru` (`id_guru`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pengampu_kelas` FOREIGN KEY (`id_kelas`) REFERENCES `tb_kelas` (`id_kelas`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pengampu_mapel` FOREIGN KEY (`id_mapel`) REFERENCES `tb_mapel_referensi` (`id_mapel`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=497 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_pengampu`
--

LOCK TABLES `tb_pengampu` WRITE;
/*!40000 ALTER TABLE `tb_pengampu` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_pengampu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_pengaturan_bobot`
--

DROP TABLE IF EXISTS `tb_pengaturan_bobot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_pengaturan_bobot` (
  `id_pengaturan` int(11) NOT NULL DEFAULT 1,
  `bobot_sumatif` decimal(5,2) NOT NULL DEFAULT 60.00,
  `bobot_sts` decimal(5,2) NOT NULL DEFAULT 40.00,
  `kkm` decimal(5,2) NOT NULL DEFAULT 75.00,
  PRIMARY KEY (`id_pengaturan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_pengaturan_bobot`
--

LOCK TABLES `tb_pengaturan_bobot` WRITE;
/*!40000 ALTER TABLE `tb_pengaturan_bobot` DISABLE KEYS */;
INSERT INTO `tb_pengaturan_bobot` VALUES (1,60.00,40.00,75.00);
/*!40000 ALTER TABLE `tb_pengaturan_bobot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_pengaturan_rapor`
--

DROP TABLE IF EXISTS `tb_pengaturan_rapor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_pengaturan_rapor` (
  `id` int(11) NOT NULL DEFAULT 1,
  `nama_sekolah` varchar(150) NOT NULL DEFAULT 'SMA NEGERI 1 PRAMBON NGANJUK',
  `alamat_sekolah` varchar(200) NOT NULL DEFAULT 'JL. A. YANI 1 SUGIHWARAS PRAMBON',
  `logo_sekolah` varchar(255) DEFAULT NULL,
  `npsn` varchar(30) NOT NULL DEFAULT '20539744',
  `akreditasi` varchar(30) NOT NULL DEFAULT 'A (Unggul)',
  `slogan` varchar(255) NOT NULL DEFAULT 'Unggul dalam Prestasi, Berkarakter, dan Berbudaya Lingkungan',
  `telepon` varchar(50) NOT NULL DEFAULT '(0358) 771234',
  `email` varchar(100) NOT NULL DEFAULT 'info@sman1prambon.sch.id',
  `website` varchar(100) NOT NULL DEFAULT 'sman1prambon.sch.id',
  `deskripsi_sekolah` text DEFAULT NULL,
  `tahun_ajaran` varchar(20) NOT NULL DEFAULT '2025/2026',
  `semester` varchar(10) NOT NULL DEFAULT '2',
  `nama_kepala_sekolah` varchar(150) NOT NULL DEFAULT 'Iin Yuristin Nadhiroh, S. Pd., M. MPd.',
  `nip_kepala_sekolah` varchar(30) NOT NULL DEFAULT '197405141999032010',
  `tempat_rapor` varchar(50) NOT NULL DEFAULT 'Prambon',
  `tanggal_rapor` varchar(50) NOT NULL DEFAULT '19 Juni 2026',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_pengaturan_rapor`
--

LOCK TABLES `tb_pengaturan_rapor` WRITE;
/*!40000 ALTER TABLE `tb_pengaturan_rapor` DISABLE KEYS */;
INSERT INTO `tb_pengaturan_rapor` VALUES (1,'SMA NEGERI 1 PRAMBON NGANJUK','JL. A. YANI 1 SUGIHWARAS PRAMBON','uploads/logo_sekolah_1790601515.png','20538395','A (Unggul)','Unggul dalam Prestasi, Berkarakter, dan Berbudaya Lingkungan','(0358) 771234','info@sman1prambon.sch.id','sman1prambon.sch.id','SMA Negeri 1 Prambon Nganjuk berkomitmen mewujudkan generasi cerdas, berakhlak mulia, kompetitif, serta siap menghadapi tantangan era digital dengan Kurikulum Merdeka.','2026/2027','1','IIN YURISTIN NADHIROH, S. Pd., M. MPd.','197405141999032010','Nganjuk','02 Oktober 2026');
/*!40000 ALTER TABLE `tb_pengaturan_rapor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_presensi_sts`
--

DROP TABLE IF EXISTS `tb_presensi_sts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_presensi_sts` (
  `id_presensi` int(11) NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) NOT NULL,
  `sakit` int(11) NOT NULL DEFAULT 0,
  `izin` int(11) NOT NULL DEFAULT 0,
  `alpa` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_presensi`),
  UNIQUE KEY `nis` (`nis`),
  KEY `fk_presensi_siswa` (`nis`),
  CONSTRAINT `fk_presensi_siswa` FOREIGN KEY (`nis`) REFERENCES `tb_siswa` (`nis`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_presensi_sts`
--

LOCK TABLES `tb_presensi_sts` WRITE;
/*!40000 ALTER TABLE `tb_presensi_sts` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_presensi_sts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_siswa`
--

DROP TABLE IF EXISTS `tb_siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_siswa` (
  `nis` varchar(20) NOT NULL,
  `id_user` int(11) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `nisn` varchar(20) DEFAULT NULL,
  `id_kelas` int(11) NOT NULL,
  PRIMARY KEY (`nis`),
  UNIQUE KEY `uq_siswa_nisn` (`nisn`),
  KEY `fk_user_siswa` (`id_user`),
  KEY `fk_kelas_siswa` (`id_kelas`),
  CONSTRAINT `fk_kelas_siswa` FOREIGN KEY (`id_kelas`) REFERENCES `tb_kelas` (`id_kelas`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_user_siswa` FOREIGN KEY (`id_user`) REFERENCES `tb_user` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_siswa`
--

LOCK TABLES `tb_siswa` WRITE;
/*!40000 ALTER TABLE `tb_siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_user`
--

DROP TABLE IF EXISTS `tb_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_user` (
  `id_user` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(15) NOT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=1125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_user`
--

LOCK TABLES `tb_user` WRITE;
/*!40000 ALTER TABLE `tb_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_user_backup_20260928`
--

DROP TABLE IF EXISTS `tb_user_backup_20260928`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_user_backup_20260928` (
  `id_user` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(15) NOT NULL,
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_user_backup_20260928`
--

LOCK TABLES `tb_user_backup_20260928` WRITE;
/*!40000 ALTER TABLE `tb_user_backup_20260928` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_user_backup_20260928` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-29  5:31:32
